:root {
	--salmon: #ff7e79;
}

html, body {
	/* background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url(../images/lucymewismckerrow.jpeg); */
	background-image: url(../images/lucy.jpeg);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100%;
	background-color: #ffffff;
}

body {
	font-family: futura-pt;
	font-weight: 400;
	padding: 3rem;
}

h1 {
	font-weight: 700;
}

h3 {
	font-weight: 500;
}

a {
	color: var(--salmon);
	text-decoration: none;
}

a:hover {
	color: var(--salmon);
	text-decoration: underline;
}

.fb_container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	min-height: 100%;
}

.fb_container_item {
	max-width: 50%;
}